<div class="modal fade show d-block" tabindex="-1" role="dialog" style="display: flex; align-items: center; justify-content: center; height: 100vh;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Assign Book to {{ selectedProfile!.name }} {{ selectedProfile!.surname }}</h5>
          <!-- <button type="button" class="btn-close position-absolute p-2" style="right: 1rem; top: 1rem; background-color: transparent; border: none;" aria-label="Close" (click)="closeModal()"></button> -->
        </div>
        <div class="modal-body">
          <form (submit)="saveBook()">
            <div class="form-group">
              <label for="bookId">Book Name</label>
              <input type="text" class="form-control" id="book_name" [(ngModel)]="book.book_name" #bookId placeholder="Enter Book Name">
            </div>
            <div class="form-group">
              <label for="bookId">ISBN number</label>
              <input type="text" class="form-control" id="isbn_number" [(ngModel)]="book.isbn_number" #bookId placeholder="Enter Book ISBN">
            </div>
            <div class="form-group">
              <label for="bookId">Author</label>
              <input type="text" class="form-control" id="author" [(ngModel)]="book.author" #bookId placeholder="Enter Book Author">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" (click)="saveBook()">Assign</button>
              <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>